/* BASE STYLES */

* {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* POD STYLES */

.btn-pod {
  font-size: 13px;
}


div > span {
  font-size: 10px;
}



#subtitle {
  font-weight: 200;
  letter-spacing: 1px;
}
 
h3 {
    color: #1B75BB;    
}
ul{
    list-style:none;
}
a {
  text-decoration: none;
  color: #1B75BB;
}
a:hover {
  color: #2898EF;
}
a:active {
  color: #155D95;
}



span {
    font-weight: bold;
}

p {
    color: #58585B;
}